<h1>Quem está assistindo?</h1>
<ul class="lista-perfis">
  <li class="item-perfil" (click)="onProfileClick({ name: 'Fernanda', imgSrc: 'assets/images/1.webp' })">
    <div class="perfil">
      <figure class="avatar-container">
        <span class="imagem-perfil tema-cris" aria-hidden="true">
          <span class="icone-avatar">
            <img
              src="assets/images/1.webp"
              alt="Perfil da Fernanda"
              width="128"
              height="128"
            />
          </span>
        </span>
        <figcaption class="nome-perfil">Fernanda</figcaption>
      </figure>
    </div>
  </li>
  <li class="item-perfil" (click)="onProfileClick({ name: 'Fabiana', imgSrc: 'assets/images/2.webp' })">
    <div class="perfil">
      <figure class="avatar-container">
        <span class="imagem-perfil tema-cris" aria-hidden="true">
          <span class="icone-avatar">
            <img
              src="assets/images/2.webp"
              alt="Perfil da Fabiana"
              width="128"
              height="128"
            />
          </span>
        </span>
        <figcaption class="nome-perfil">Fabiana</figcaption>
      </figure>
    </div>
  </li>
  <li class="item-perfil" (click)="onProfileClick({ name: 'Alexander', imgSrc: 'assets/images/3.webp' })">
    <div class="perfil">
      <figure class="avatar-container">
        <span class="imagem-perfil tema-cris" aria-hidden="true">
          <span class="icone-avatar">
            <img
              src="assets/images/3.webp"
              alt="Perfil do Alexander"
              width="128"
              height="128"
            />
          </span>
        </span>
        <figcaption class="nome-perfil">Alexander</figcaption>
      </figure>
    </div>
  </li>
  <li class="item-perfil" (click)="onProfileClick({ name: 'Dom', imgSrc: 'assets/images/4.webp' })">
    <div class="perfil">
      <figure class="avatar-container">
        <span class="imagem-perfil tema-cris" aria-hidden="true">
          <span class="icone-avatar">
            <img
              src="assets/images/4.webp"
              alt="Perfil do Dom"
              width="128"
              height="128"
            />
          </span>
        </span>
        <figcaption class="nome-perfil">Dom</figcaption>
      </figure>
    </div>
  </li>
</ul>
