<header class="main-header">
  <div class="nav-container">
    <a routerLink="/" class="logo">
      <span class="logo-img">
        <img class="logo-dot-img" src="assets/images/Domflix-logo.png" alt="">
      </span>
      <span class="logo-secondary">
        <img src="assets/images/Logo-secundaria.png" alt="Logo Secundário">
      </span>
    </a>
    <nav class="nav-links" [class.open]="menuOpen()">
    </nav>
    <div class="header-actions">
      <app-theme-toggle />   
      <app-button
        variant="outline"
        class="hamburger-menu"
        (onClick)="toggleMenu()"
      >
        ☰
      </app-button>
    </div>
  </div>
</header>